@import "tailwindcss";

@theme {
  --color-navy: #1F1472;
  --color-white: #ffffff;
  --color-offwhite: #F5F5F5;
  --color-black: #212121;
  --color-skyblue: #3F92E2;
  --color-blue: #2252C6;
  
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Fraunces', serif;
}

html {
  scroll-behavior: smooth;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

/* Removes the up and down arrows/buttons on the scrollbar */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 118, 182, 0.6);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 118, 182, 0.9);
  background-clip: content-box;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(3, 11, 255) rgba(255, 255, 255, 0.1);
}